* {
  color: blue;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: blue;
  font-weight: bold;
  border: 1px solid black;
  margin-top: 40px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  /* padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 15px; */
  padding: 20px 15px
}

section{
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

p,span {
  color: red;
}

#mi_parrafo{
  color: green;
  font-size: 23px;
  border: 1px solid orange;
}

.estaesmiclase{
  font-weight: bold;
  color: lightblue;
}

section h2{
  font-weight: 800;
  color: grey;
}